@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@100&family=Roboto:ital,wght@1,100&display=swap');
.modal_container{
    overflow: scroll;
    display: flex;
}
.modalheader{
    height: 100%;
    padding: 10px;
    width: 35%;
    margin-right: 20px
}
.avatar{
    display: flex;
    align-items: center;
    justify-content: center;

}
.information{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.mbody{
    width: 100%;
    height: 300px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    align-items: center;

}
.modal_body{
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.lBody_text{
    font-size: 17px;
    font-family: 'Lato';
    margin-left: 10px;
  
}
.transaction_body{
    display: flex;
    font-size: 14px;
    justify-content: flex-end;
    align-items: "center";
}
.Transaction{
    display: flex;
    justify-content: space-between;
}
.right_body{
    overflow-y: scroll ; 
}

.left_body {
    margin-bottom: 20px;
}
.footer_title{
    margin-top:20px;
    display: flex;
    font-size: 14px;
    align-items: "center";
}
.title {
    font-size: 12px;

}
.titleDialog{
    display:flex;
    font-family: 'Lato', sans-serif !important;
}

.dialogButton{
    font-family: 'Lato', sans-serif !important;
    font-size: 11px !important;
   
}
.dialogActions{
    justify-content:space-between !important;
}