@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

.chartTitle {
font-family: 'Quicksand', 'Helvetica';
font-size: 12px;
text-transform: uppercase;
}
span.recharts-legend-item-text {
    color: #787575!important;
    font-weight: normal;
}