.editContainer{
    display: flex
}
.leftGrid {
    width: 65%
}
.rightGrid{
    width: 35%;
    padding: 10px

}
.projet{
    display: flex;
    justify-content: space-between;
}
.projetPart{
    width:49%;
    margin-left: 10px;

} 
.profilePicture{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Label {
    font-weight: bold
}
.leftGridTitle{
    font-weight: bold;
    font-size: 18px;
}