@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.navContainer{
  display:flex;
  flex-direction: column;
  margin-top: 25%;
  height: 100%;
}

.navbar {
    height: 100vh;
    width: 260px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navItem {
    height: 50px;
    border-radius: 10px;
    padding-left: 9px;
  }
  li {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    color: #333333;
  }
  

  
  .logo {
    height: fit-content;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:auto;
  }

  .link-style{
    text-decoration: none;
    display: block;
    height: 50px;
    border-radius: 10px;
    color: #333333;
    padding-left:5px;
    width: 100%;
    font-family: 'Quicksand', sans-serif;

  }

  .link-style:hover{
    background-color: #FFE5E5;
    border-left: 5px solid #f74949;
    color: #ffff !important;
  }

  .link-style.active{
    background-color: #FFE5E5;
    border-left: 5px solid #f74949;
    color: #f74949;
  }
  .align{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    padding-left: 5px;
    height: 50px;
  }
  .align:hover {
    color:  #f74949;
    
  }
 
  
  .Welcome {
    font-size: 14px;
    font-family: 'Montserat';
    font-weight: 2px;
    color: rgb(45, 45, 45);
    margin: 0

  }
  .UserName{
    font-size: 20px;
    font-family: 'Lato';
    margin-top: 0;
    margin-bottom: 0;
    color:  rgb(45, 45, 45);

  }
  
  .setting {

    width: 40px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  }
  .setting:hover {
    cursor: pointer;
  }

  .logout{
    position: absolute;
    bottom: 0;
    width: "13%" !important;
  }

  .logout:hover {
    cursor: pointer;
  }

  .active-link{
    color: #f74949 !important;
  }