@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.container {
    display:flex;
    padding: 3px auto;
    height: 100vh;
}
.loginInput{
    width: 100% !important;
    display:block;
}
.loginInput:focus-visible{
    background-color: #fca311 !important;
}
.login-fields{
    margin-bottom: 5%
}
.forget{

    margin-top: 5%;
    margin-bottom: 5%;
    text-align: right;
    font-weight: 500;
    color: #fca311;
    font-family: 'Quicksand', sans-serif;
}

.card-container {
    border: 1px solid black;
    align-items : left;

}

.header{
   font-weight: bolder;
   font-size: 25px;
}

.titre-login{
    font-weight: 600;
    font-size: xx-large;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.left-card{

    width:55%;
    background-image: url('../../../assets/img/fond2.jpg');
    background-size: cover;
    
}

.right-card{
    width: 45%;
    margin: 0 auto; 
}

.body-container{
    margin-top: 17%;
    justify-content: center;
    display: grid;
}

.sign-up-btn{
    font-family: 'Quicksand', sans-serif  !important;
    width: 100% !important;
    height: 45px !important;
    font-weight: bolder !important;
    color: black !important;
    border-radius: 18px !important;
    margin-top: 10px !important;
}

.social-btn{
    display: flex;
    justify-content: space-between !important;
    width: 100%;
    margin: 5px;
}

.Divider{
    width: 100%;
    margin: 3% 0 3% 0;
    font-weight: bolder;
}

.social{
    width: 160px;
    height: 45px;
    border-color: rgba(193, 193, 193, 0.817) !important;
    color: black !important;
    font-weight: bold !important;
    font-family: 'Quicksand', sans-serif  !important;

}

.social:hover{
    border-color: rgba(51, 126, 255, 0.541) !important;
}

.btn-publish{
    color: blue !important;
    border: 2px solid !important;
    border-color: blue !important;
    font-family: 'Quicksand', sans-serif  !important;
    font-size: 16px !important;
    font-weight: 600;
}

.btn-publish:hover{
   background-color: #f74949 !important;
   color: white !important;
    border: 0px solid !important;
}