
.container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #edecec4c;
}

.dashboard {
  width: 100%;
  display: flex;
  justify-content: space-around;

}
.centerPage {
  display: block;
  width: 100%
}

.childComponent{
  overflow-x: hidden !important;
  height: 90vh;
  width: 100%;
  padding: 10px

}
.navbar {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  background-color: #ffffff;
  padding: 10px;
}



