@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.table_container-list-user {
    border-radius: 15px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family: 'Lato', sans-serif !important;
    font-weight: bolder;
    background-color: white;
    max-height: 78vh;
    padding: 10px !important;
    overflow-y: scroll;

}

.bloc-title{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
}

.bloc-transaction{
    box-shadow: #cce2e6 0px 1px 1px 1px;
    border-radius: 15px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.bloc-solde{
    box-shadow: #cce2e6 0px 1px 1px 1px;
    border-radius: 15px;
    padding: 5px;
    color: rgb(53, 53, 54);
}

.table_container-list {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    height: 95%;
    width: 95%;
    border-radius: 15px !important;
    margin-bottom: 4px !important;
    overflow-y: scroll;
}
.research{
    width: 180px !important;
    border-radius: 20px !important;
    margin-right: 10px !important;
    font-size: 18px !important;
    color: blue  !important;
    font-family: 'Quicksand', sans-serif !important;
}

.Modal-containers {
    min-width: 50%;
    max-width: 90%;
    max-height: 80vh !important;
    border-radius: 15px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family: 'Lato', sans-serif !important;
    font-weight: bolder;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bloc-left {
    padding: 5px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titre-list {
    font-size: 18px !important;
    font-family: 'Quicksand', sans-serif !important;
    text-align: center !important;
}

.titre-list-item {
    font-size: 14px !important;
    font-family: 'Quicksand', sans-serif !important;

}

.listItem{
    padding-left: 12px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-right: 3px !important;
}