@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@100&family=Roboto:ital,wght@1,100&display=swap');


.horizontalNav ul li {
  display: flex;
  float: right;
}

.horizontalNavContainer {
  height: 10vh;
  width: 15%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.horizontalNavItem {
  padding: 10px;
  border: 1px solid rgba(193, 193, 193, 0.817);
  border-radius: 40px;
  margin-right: 3%;
}

.horizontalNav {
  display: flex;
  height: 9vh;
  width: 98%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  margin-bottom: 10px
}

.welcomeTitle {
  width: 100%;
  padding-left: 7px;
  padding-bottom: 2;
  margin-top: 0;
}

.welcomeTitle h1 {
  margin: 5px;
  /* font-family: 'Lato', sans-serif;; */
  font-size: 37px;
  font-weight: "bold";
  color: #333;
}

.avatar {
  margin-right: 2%;
  border-radius: 10px;
}


.link-styl {
  text-decoration: none !important;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between !important;
  justify-items: center !important;
  border-radius: 0px !important;
  color: #333333;
  width: 100%;
  font-family: 'Quicksand', sans-serif;

}


.titre-head {
  animation: blinkText 5s linear infinite;
  font-size: 18px !important;
  font-family: 'Quicksand', sans-serif !important;
  color: black;
}

@keyframes blinkText {
  0% {
    opacity: 2;
    /* Texte complètement visible */
  }

  50% {
    opacity: 0;
    /* Texte invisible */
  }

  100% {
    opacity: 2;
    /* Texte complètement visible */
  }
}