@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

.containers{
    width: auto;
  
    
}


.second-card {
    background-color: #FFEEE8;
}
.third-card {
    background-color: #F1FDEC
}
.cartTitle{
    font-size: 14px;
    /* font-family: 'Montserrat', sans-serif; */

}
.header{
    display: flex;
    /* font-family: 'Lato', sans-serif; */
    justify-content: space-between;
}
.progress{
    display: flex;
    font-size: 14px;
    justify-content: flex-end;
    align-items: center;
}

.part1{
    display: flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}
.text1{
    font-family: 'Quicksand', sans-serif !important;
    font-size: 14px !important;  
    text-transform: uppercase !important;
}
.iconBorder{
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.card1 {
    border: 1px solid #FFE5E5;
    background-color: #FFE5E5;
}
.card2 {
    border: 1px solid #e9ffe5;
    background-color: #e9ffe5;
}
.card3 {
    border: 1px solid #f7d6bb;
    background-color: #ffe6d1;
}
.iconProgress{
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: 5px;

    margin-top : 0
}
.iconBorder p {
    font-family: 'Lato' 'sans-serif';
    font-size: 14px;
    font-weight: bold;
  

}
.revenu{
    font-size: 28px;
    font-weight: 500;

}
.chartContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

}
.chart{
    width: 49%;
    height: 50vh;
    padding: 10px;
    background-color: #ffff;
    border-radius: 10px;
    margin-bottom: 15px;
}

.bottomChart {
    width: 33%;
    overflow-y: scroll;
    margin-bottom: 10px;
    max-height: 40vh !important;
}

::-webkit-scrollbar {
    width: 5px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
  }

  .span-info{
    color: black;
  }
  
 
  


