.table_header{
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 25px
}
.table_container {
   border-radius: 30px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   font-family: 'Lato', sans-serif !important;
   font-weight: bolder;

}

.button_container{
    width: 100%;
    display: flex;
    height : fit-content;
    justify-content: space-between
}
.containers{
    width: 100%
}

.titre-lts{
    font-size: 16px !important;
    font-family: 'Quicksand', sans-serif !important;
}
.tooltip{
    background-color: white !important;
}

.msg{
    color: green;
    text-align: center;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif !important;

}
