@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
.containers{
    width: auto;
  
    
}

.card-list{
    display: flex; 
    width: auto;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

    
}

.card {
    max-height: 20vh;
    max-width: 100%;
    border-radius:12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px !important;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px rgb(211, 225, 235);

}
.part2{
    display: flex;
    justify-content: space-evenly;
    padding: 30, 0 , 0 ,0;
    height: 9vh;
    align-items: center;
    margin-top: 0;
   
}

.first-card {
    background-color: #19293517
}
.second-card {
    background-color: #FFEEE8;
}
.third-card {
    background-color: #F1FDEC
}
.cartTitle{
    font-size: 14px;
    /* font-family: 'Montserrat', sans-serif; */

}
.header{
    display: flex;
    /* font-family: 'Lato', sans-serif; */
    justify-content: space-between;
}
.progress{
    display: flex;
    font-size: 14px;
    justify-content: flex-end;
    align-items: center;
}

.part1{
    display: flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}
.iconBorder{
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.card1 {
    border: 1px solid #FFE5E5;
    background-color: #FFE5E5;
}
.card2 {
    border: 1px solid #e9ffe5;
    background-color: #e9ffe5;
}
.card3 {
    border: 1px solid #f7d6bb;
    background-color: #ffe6d1;
}
.iconProgress{
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: 5px;

    margin-top : 0
}
.iconBorder p {
    font-family: 'Lato' 'sans-serif';
    font-size: 14px;
    font-weight: bold;
  

}
.revenu{
    font-size: 28px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;

}
.chartContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

}
.chart{
    width: 49%;
    height: 50vh;
    padding: 10px;
    background-color: #ffff;
    border-radius: 10px;
    margin-bottom: 15px;
}

.titre-card{
    text-transform: uppercase;
    margin-left: 2px;
    font-weight: 600;
    font-size: medium;
}

