.table_header{
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}
.table_container {
   font-family: 'Lato', sans-serif !important;
   font-weight: bolder;
   width: 90%;
   border-radius: 15px;

}

.tableContent{
    height: 70vh;
    width: 100% !important;
}

.button_container{
    width: 100%;
    display: flex;
    height : fit-content;
    justify-content: space-between;
    align-items: center;
}
.containers{
    width: 100%;
    height: 100% !important;
    display: flex;
    justify-content: space-evenly;
}