@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.table_container-list-user {
    border-radius: 15px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family: 'Lato', sans-serif !important;
    font-weight: bolder;
    background-color: white;
    max-height: 78vh;
    padding: 10px !important;
    overflow-y: hidden !important;

}

.bloc-title{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
}

.bloc-solde{
    box-shadow: #cce2e6 0px 1px 1px 1px;
    border-radius: 15px;
    padding: 5px;
    color: rgb(53, 53, 54);
}

.table_container-list {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    height: 85%;
    width: 95%;
    border-radius: 15px !important;
    overflow-y: scroll;
}

.sous-titre{
    font-size: 16px !important;
    font-family: 'Quicksand', sans-serif !important;
    margin-top: 5% !important;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    width: 100%;

}

.bloc-left {
    padding: 5px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titre-list {
    font-size: 18px !important;
    font-family: 'Quicksand', sans-serif !important;
    text-align: center !important;
}

.titre-list-historiy {
    font-size: 14px !important;
    font-family: 'Quicksand', sans-serif !important;
    text-transform: uppercase !important;

}

.titre-user {
    margin-top: 5px !important;
    margin-left: 5px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    font-family: 'Quicksand', sans-serif !important;

}
.titre-modal {
    font-size: 16px !important;
    font-family: 'Quicksand', sans-serif !important;

}

.listItem{
    padding-left: 12px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-right: 3px !important;
}

.titre-btn{
    font-size: 16px !important;
    font-family: 'Quicksand', sans-serif !important;
    margin-top: 4% !important;
    display: flex !important;
    justify-content: space-evenly !important;
    min-width: none !important;
    min-width: 120px !important;
    max-width: 120px !important;
    border-radius: 18px !important;

}

.delete-btn{
    font-size: 16px !important;
    font-family: 'Quicksand', sans-serif !important;
    margin-top: 4% !important;
    display: flex !important;
    justify-content: space-evenly !important;
    min-width: none !important;
    border-radius: 18px !important;

}

.user-table{
    width: 100%;
}

.item-table {
    font-size: 14px !important;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 600 !important;
    color: black !important ;
    text-shadow: 0px 1px 1px gray;
}

.item_row_table{
    font-size: 14 !important;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 600 !important;
}

.user-table-container {
    max-height: 100vh; /* Hauteur maximale souhaitée */
    overflow: hidden;
    position: relative;
  }
  
  .user-table-scroll {
    max-height: 50vh; /* Hauteur maximale souhaitée */
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .email-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  
  .user-table {
    width: 100%;
    table-layout: fixed;
  }
  
  .user-table-body {
    display: contents;
  }

  .iRemoveDeposit{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    margin-top: 30px;
  }

  .active-item-table:hover{
        background-color: rgb(241, 238, 238);
  }

  .active-item-table{
    cursor: pointer;
    height: 20px !important;
  }

  .icn-item{
    font-size: 12px !important;
    font-family: 'Quicksand', sans-serif !important;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: #f74949 0px 1px 1px 1px;
    border-radius: 15px !important;
    color: #f74949 !important;
  }

  .desable-icon{
    font-size: 12px !important;
    font-family: 'Quicksand', sans-serif !important;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: grey 0px 1px 1px 1px;
    border-radius: 15px !important;
    color: grey !important;
  }
  
  .bloc-empty{
     display:'flex' !important;
     flex-direction:'row' !important;
     justify-content: center !important;
     background-color: #cce2e6;
     margin-top: 5%
  }